extends layout

block content
  form(method='post', enctype='multipart/form-data', onsubmit="loadSocket()")
    input(type="file", name="dataCSV")
    br
    br
    p Dates
    label(for="from") From:  
    input(type="date", id="from", name="from")
    br
    label(for="To") To:  
    input(type="date", id="to", name="to")
    br
    br
    label(for="signature") Who is signing the certificates?
    br
    input(type="text", id="signature", name="signature")
    br
    br
    button(type='submit') Submit
    
  //object(id='certificate', data='images/template.svg', type='image/svg+xml')
