.datepicker-date-display {
	background-color: #ff7961;
}

.is-today {
	color: #ff7961 !important;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
	color: #ff7961 !important;
}

.is-selected {
	background-color: #ff7961 !important;
}